:root {
  background-color: lightblue;
  font-size: 44px;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.page {
  & + h1 {
    color: blue;
  }
}

body {
  .page {
    h1 {
      font-size: 100px;
      color: yellow;
      background-color: lightgreen;
    }
  }
}


h1 {
  color: aquamarine;
}
h3 {
  color: aquamarine;
}
h2 {
  color: aquamarine;
}